/* footer.css */
.footer {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.footer-visible {
  transform: translateY(0);
  opacity: 1;
}