/* social.css */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 2s infinite;
}

.glow-border {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* social.css */
@media (max-width: 768px) {
  .social-links-container {
    bottom: 80px; /* Adjust this value to avoid overlap with the Footer */
  }
}